@font-face {
  font-family:"Go";
  src:url("../assets/Go-Regular.ttf")
}
@font-face {
  font-family:"Go";
  src:url("../assets/Go-Bold.ttf");
  font-weight:bold
}
@font-face {
  font-family:"Go";
  src:url("../assets/Go-Italic.ttf");
  font-style:italic
}
@font-face {
  font-family:"Go Medium";
  src:url("../assets/Go-Medium.ttf")
}
@font-face {
  font-family:SAX2;
  src:url("../assets/SAX2.ttf")
}
pre,
code {
  padding:0.3em 0.3em 0.3em 0.3em;
  overflow:auto;
  font-family:SAX2;
  -webkit-text-stroke:.05ex;
  line-height:1em;
  white-space:pre;
  z-index:1
}
/* Custom colors */
:root {
	--md-primary-fg-color: #2e3440;
	--md-primary-fg-color--dark: #eceff4;
	--md-default-bg-color: #eceff4;
	--md-default-bg-color--dark: #2e3440;
}

.md-copyright {
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}